.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)),
    url("./assets/CAPITOL_HEADER.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

#header-contents {
  margin: 20px 10%;
  width: 50%;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#knowledge-search {
  height: 60px;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  max-width: 500px;
}

#knowledge-input {
  flex-grow: 1;
  border: none;
  outline: none;
}

#knowledge-search-button {
  flex-grow: 0;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 10%;
}
